<% if flash[:notice] %>
  <p class="flash_notice " id = 'notes' style = "margin-top: 5px"><%= notice %></p>
<%end%>
<h4>Available Service Providers</h4>
<br /><br />
<div class="pull-right" style = 'margin-top: -3%; '>
	  <label class="">Display <u>No</u>: </label> 
	     <!-- <%#= select_tag :count, options_for_select([5,10,15,20,25,30], params[:count].to_i), :onchange => "if(this.value){ window.location='?count='+this.value ;}" %> -->
	   <%= select_tag :per_page, options_for_select([5,10, 20, 30, 40,50, 70,100], params[:per_page].to_i), :data => { :remote => true, 
	 	                :url => url_for( :controller => "provider_masters", :action => "index" )
	 	             },  remote: true, class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4" %>	
</div>
<div class="pull-left" style = 'margin-top: -3%;'>
	 <label class="">Filter by Provider Type: </label>  
	  <!-- <%= select("country_name", "country_name", CountryMaster.all.collect(&:country_name))  %> -->
	  <%= select_tag :service_prov_type_title, options_from_collection_for_select(ServiceProvType.all, "service_prov_type_title", "service_prov_type_title",  @provider_type), :data => {:remote => true, 
	  	:url => url_for(:controller => "provider_masters", :action => "index")}, remote: true,  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4" %>
	 	      	                                                                                                        
 </div>
 <p style = 'text-align: center; font-family: tahoma; font-size: 15px;'>
   <b>Download:</b>  <%= link_to "CSV", provider_masters_path(format: "csv"), :class => "w3-hover-white"%> 
                     | <%= link_to "Excel", provider_masters_path(format: "xls"), :class => "w3-hover-white" %> 
                     | <%= link_to "CSV-all", all_provider_excel_path(format: "csv"), :class => "w3-hover-white", method: :get%> 
                     | <%= link_to "Excel-all", all_provider_excel_path(format: "xls"),:class => "w3-hover-white", method: :get%>
</p>
 <br /> 
<div class="table-responsive">
	<table class="table table-condensed table-bordered table-striped">
	  <thead>
	    <tr class="w3-teal">
	      <th>Provider name</th>
	      <th>Alias</th>
	      <th>Provider type</th>
	      <th>Added by</th>
	      <th>Status</th>
	      <th>Services</th>
	      <th>Staff</th>
	      <th colspan="2">Options</th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @provider_masters.each do |provider_master| %>
	      <tr>
	        <td><%= provider_master.provider_name %></td>
	        <td><%= provider_master.alias %></td>
	        <td><%= provider_master.service_prov_type.service_prov_type_title if provider_master.service_prov_type %></td>
	        <!-- <td><%= provider_master.comment %></td>
	        <td><%= provider_master.entity_id %></td> -->
	        <td><%= provider_master.user.person_info.surname if provider_master.user %> <%= provider_master.user.person_info.other_names if provider_master.user %></td>
	       
	        <% if provider_master.active_status == true %>  
	      		<td style="color: ">Active</td>
	      		
	      	<%elsif provider_master.active_status == false %>
	      		<td style="color: red">Inactive</td>
	      		
	        <%end%>
	        
	        <td style="width: 5px"><%= link_to "Services", find_services_path(:provider_id => provider_master.id), remote: true, class: "w3-button w3-indigo w3-hover-indigo w3-card w3-small w3-round w3-round-xxlarge" %></td>
	        <td style="width: 5px"><%= link_to "Staff", find_saff_path(:provider_id => provider_master.id), remote: true, class: "w3-button  w3-khaki w3-hover-khaki w3-card w3-small w3-round w3-round-xxlarge" %></td>
	        <td style="width: 5px"><%= link_to 'Edit', edit_provider_master_path(provider_master), remote: true, class: "w3-button w3-gray w3-card w3-hover-gray w3-small w3-round w3-round-xxlarge" %></td>
	        
	        <td style="width: 15px">
	           <% if provider_master.active_status == false %>
	           	 <%= link_to 'Enable', enable_service_provider_path(:chosen => provider_master.id), data: { confirm: 'You are about to enable the selected service. Do you want to continue?' }, remote: true,  class: "w3-button w3-blue w3-hover-blue w3-small w3-round-xxlarge w3-card" %>
                  
               <% else provider_master.active_status == true %>
	              <%= link_to 'Disable', disable_service_provider_path(:chosen => provider_master.id), data: { confirm: 'You are about to disable the selected service. Do you want to continue?' }, remote: true,  class: "w3-button w3-red w3-hover-red w3-small w3-round w3-round-xxlarge w3-card" %> 
	                           
               <% end %>
	        	
	        </td>
	        
	        <!-- <td><%#= link_to 'Destroy', service_prov_type, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<div>
 <!-- <%#= link_to '+', new_provider_master_path , :remote=> true, class: "w3-button w3-circle w3-teal w3-hover-teal" %> -->
<%= will_paginate @provider_masters,  renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: "w3-right pagination-sm w3-card-4", :params => { :controller => "provider_masters", :action => "index", count: params[:count], page: params[:page] } %>
</div>
<br>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('.flash_notice').remove();
  }, 4000);
 })
</script>
<script>
  $(function(){
    $('.pagination a').attr('data-remote', 'true')
  });

</script>
