<% if flash[:notice] %>
  <p class="flash_notice " id = 'notes' style = "margin-top: 5px"><%= notice %></p>
<%end%>

<h4>Available Countries</h4>
<br />
<p style = 'text-align: center; font-family: tahoma; font-size: 15px;'>
   <b>Download:</b>  <%= link_to "CSV", country_masters_path(format: "csv"), :class => "w3-hover-white"%> 
                     | <%= link_to "Excel", country_masters_path(format: "xls"), :class => "w3-hover-white" %> 
                     | <%= link_to "CSV-all", all_country_excel_path(format: "csv"), :class => "w3-hover-white", method: :get%> 
                     | <%= link_to "Excel-all", all_country_excel_path(format: "xls"),:class => "w3-hover-white", method: :get%>
</p>
	<div class="pull-right" style = 'margin-top: -3%; '>
	  <label class="">Display <u>No</u>: </label> 
	     <!-- <%#= select_tag :count, options_for_select([5,10,15,20,25,30], params[:count].to_i), :onchange => "if(this.value){ window.location='?count='+this.value ;}" %> -->
	   <%= select_tag :per_page, options_for_select([5,10, 20, 30, 40,50, 70,100], params[:per_page].to_i), :data => { :remote => true, 
	 	            :url => url_for( :controller => "country_masters", :action => "index" )
	 	             }, :onchange => "if(this.value){window.location='?per_page='+this.value;}", class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4" %>	
   </div>
 <br />
<div class="table-responsive">
	<table class="table table-condensed table-bordered table-striped w3-card">
	  <thead>
	    <tr class="w3-teal">
	      <th>Country name</th>
	      <th>Remark</th>
	      <th>Added By</th>
	      <th>Status</th>
	      <th>Regions/States</th>	      
	      <th colspan="2">Options</th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @country_masters.each do |country_master| %>
	      <tr>
	        <td><%= country_master.country_name %></td> 
	        <td><%= country_master.comment %></td>
	        <td><%= country_master.users.person_info.surname if country_master.users %> <%= country_master.users.person_info.other_names if country_master.users %></td>
	        
	      	<% if country_master.active_status == true %>  
	      		<td >Active</td>
	      		
	      	<%elsif country_master.active_status == false %>
	      		<td style="color: red">Inactive</td>	
	       <% end %>
	        	
	         <td style="width: 5px"><%= link_to "Regions/States", find_countries_path(:country_id => country_master.id), remote: true, class: "w3-button w3-indigo w3-hover-indigo w3-card w3-small w3-round w3-round-xxlarge" %></td>
	        
	         <td style="width: 5px"><%= link_to 'Edit', edit_country_master_path(country_master), remote: true, class: "w3-button w3-gray w3-card w3-hover-gray w3-small w3-round w3-round-xxlarge" %></td>	        
	        <td style="width: 15px">
	           <% if country_master.active_status == false %>
	           	 <%= link_to 'Enable', enable_country_path(:chosen => country_master.id), data: { confirm: 'Are you sure?' },  class: "w3-button w3-blue w3-hover-blue w3-small w3-round-xxlarge w3-card" %>
                  <!-- <span onclick="document.getElementById('confirm_enable').style.display='block'" class="w3-button w3-blue w3-hover-blue w3-small w3-round-xxlarge w3-card">Enable</span> -->
               
            <% elsif country_master.active_status == true %>
	                <%= link_to 'Disable', disable_country_path(:chosen => country_master.id), data: { confirm: 'Are you sure?' },  class: "w3-button w3-red w3-hover-red w3-small w3-round w3-round-xxlarge w3-card" %> 
	            
	               <!-- <span onclick="document.getElementById('confirm_disable').style.display='block'" class="w3-button w3-red w3-hover-red w3-small w3-round w3-round-xxlarge w3-card"> Disable</span> -->
               
            <% end %>     	
	       </td>
	       
	      </tr>
	      
	      
	    
	    <% end %>
	  </tbody>
	</table>
		
</div>

<div>
 <%= link_to '+', new_country_master_path, :remote=> true, class: "w3-button w3-circle w3-teal w3-hover-teal w3-left w3-card-4" %>
 <%= will_paginate @country_masters,  renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: "w3-right pagination-sm w3-card-4", :params => { :controller => "country_masters", :action => "index", count: params[:count], page: params[:page] }, :remote => true  %>
<br />
</div>
<br />

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notes').remove();
  }, 4000);
 })
</script>