<% if flash[:notice] %>
  <p class="flash_notice " id = 'notes' style = "margin-top: 5px"><%= notice %></p>
<%end%>

<h4>Appointment Types</h4>
<div class="pull-right" style = 'margin-top: -3%; '>
	  <label class="">Display <u>No</u>: </label> 
	     <!-- <%#= select_tag :count, options_for_select([5,10,15,20,25,30], params[:count].to_i), :onchange => "if(this.value){ window.location='?count='+this.value ;}" %> -->
	   <%= select_tag :per_page, options_for_select([5,10, 20, 30, 40,50, 70,100], params[:per_page].to_i), :data => { :remote => true, 
	 	            :url => url_for( :controller => "appointment_types", :action => "index" )
	 	             },  remote: true, class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4" %>	
</div>
<div class="pull-left" style = 'margin-top: -3%;'>
	 <label class="">Filter by: </label> 
	  <%= select_tag :title, options_from_collection_for_select(AppointmentType.all, "title", "title", @type), :data => { :remote=> true,
	  	:url => url_for(:controller => "appointment_types", :action => "index")},  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", :prompt=> "Select to filter" %>
	 	      	                                                                                                        
 </div>

 <br />
 
<div class="table-responsive">
	<table class="table table-condensed table-bordered table-striped w3-card-4">
	  <thead>
	    <tr class="w3-teal">
	      <th>Appointment Type</th>
	      <th>Remark</th>
	      <!-- <th>User</th>
	      <th>Entity</th> -->
	      <th>Status</th>
	      <!-- <th>Del status</th> -->
	      <th colspan="2">Options</th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @appointment_types.each do |appointment_type| %>
	      <tr>
	        <td><%= appointment_type.title %></td>
	        <td><%= appointment_type.comment %></td>
	        
	        <% if appointment_type.active_status == true %>  
	      		<td style="color: ">Active</td>
	      		
	      	<%elsif appointment_type.active_status == false %>
	      		<td style="color: red">Inactive</td>
	      		
	        <%end%> 
	       
	        <td style="width: 15px"><%= link_to 'Edit', edit_appointment_type_path(appointment_type), remote: true, class: "w3-button w3-gray w3-card w3-hover-gray w3-small w3-round w3-round-xxlarge" %></td>
	        
	         <td style="width: 15px">
	           <% if appointment_type.active_status == false %> 
	           	 <%= link_to 'Enable', enable_appointment_type_path(:chosen => appointment_type.id), remote: true, data: { confirm: 'You are about to enable the selected appointment type. Do you want to continue?' },  class: "w3-button w3-blue w3-hover-blue w3-small w3-round-xxlarge w3-card" %>
                  
               <% else appointment_type.active_status == true %>
	             <%= link_to 'Disable', disable_appointment_type_path(:chosen => appointment_type.id), remote: true, data: { confirm: 'You are about to disable the selected appointment type. Do you want to continue?' },  class: "w3-button w3-red w3-hover-red w3-small w3-round w3-round-xxlarge w3-card" %> 
	                           
               <% end %>
	        	
	        </td>
	        
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<div> 
 <%= link_to '+', new_appointment_type_path, :remote=> true, class: "w3-button w3-circle w3-teal w3-hover-teal w3-left w3-card-4" %>
 <%= will_paginate @appointment_types,  renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: "w3-right pagination-sm w3-card-4", :params => { :controller => "appointment_types", :action => "index", count: params[:count], page: params[:page] }  %>
<br />
</div>
<br>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('.flash_notice').remove();
  }, 4000);
 })
</script>
<script>
  $(function(){
    $('.pagination a').attr('data-remote', 'true')
  });

</script>
