<% if flash[:notice] %>
  <p class="flash_notice " id = 'notes' style = "margin-top: 5px"><%= notice %></p>
<% end %>

<h4>Pre Confirmed Appointments</h4>
<br />

<div class="pull-right" style = 'margin-top: -3%; display: inline-block'>
	<label class="">Display <u>No</u>: </label>
	<%= select_tag :per_page, options_for_select([5,10, 20, 30, 40,50, 70,100], params[:per_page].to_i), :data => { :remote => true,
	:url => url_for( :controller => "pre_confirmed_appointments", :action => "index" )
	}, class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", remote: true %>
</div>

<div class="pull-left" style = 'margin-top: -3%;'>
	
	<label class="w3-middle" >Fileter by: </label><br/>
	<ul class="list-inline">
	
<!--		<li>-->
<!--		<%#= select_tag :provider_name, options_from_collection_for_select(ProviderMaster.all, "provider_name", "provider_name",  @provider_name), :data => {:remote => true,-->
		:url => url_for(:controller => "pre_confirmed_appointments", :action => "index")}, remote: true,  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", :prompt => "Service Provider", style: "max-width: 100%; width: 100%; min-width: 100%"%>
<!--   </li>-->

<!--		<li>-->
        <%#= select_tag :category, options_from_collection_for_select(RequestCategory.all, "category", "category",  @category), :data => {:remote => true,
	    :url => url_for(:controller => "pre_confirmed_appointments", :action => "index")}, remote: true,  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", :prompt => "Request Category", style: "max-width: 100%; width: 100%; min-width: 100%" %>
<!--		</li>-->
		
		<li>
         <%= select_tag :title, options_from_collection_for_select(AppointmentType.all, "title", "title",  @type), :data => {:remote => true,
	    :url => url_for(:controller => "pre_confirmed_appointments", :action => "index")}, remote: true,  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", :prompt => "Appointment Type", style: "max-width: 100%; width: 100%; min-width: 100%" %>

		</li>

<!--    <br><br>-->
<!--    <div class="w3-clear"></div>-->
    <li>
      <%= select_tag :user_type_title, options_from_collection_for_select(PersonTypeMaster.where('ref_id =? ' , 'C'), "user_type_title", "user_type_title", @person_type), :data => {:remote => true,
       :url => url_for(:controller => "pre_confirmed_appointments", :action => "index")}, remote: true,  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", :prompt => "Search Patient", style: "max-width: 100%; width: 100%; min-width: 100%" %>
    </li>

    </ul>
</div>
<br /><br />
<div class="clearfix"></div>
<p style = 'text-align: center; font-family: tahoma; font-size: 15px;'>
   <b>Download:</b>    <%= link_to "CSV", pre_confirmed_appointments_path(format: "csv"), :class => "w3-hover-white"%> 
                     | <%= link_to "Excel", pre_confirmed_appointments_path(format: "xls"), :class => "w3-hover-white" %> 
                     | <%= link_to "CSV-all", all_pre_confirmed_appointment_excel_path(format: "csv"), :class => "w3-hover-white", method: :get%> 
                     | <%= link_to "Excel-all", all_pre_confirmed_appointment_excel_path(format: "xls"),:class => "w3-hover-white", method: :get%>
</p>
<div class = "table-responsive">
	<table class="table table-condensed table-bordered table-striped w3-card-4">
	  <thead>
	    <tr class="w3-teal">
	      <th>Requester</th>
	      <th>Appt Type</th> 
	      <th>Date/Time</th>
	      <th>Accept Status</th>
		  <th>Doctors/Nurses</th>          	      	      
	      <th colspan="">Options</th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @pre_confirmed_appointments.each do |pre_confirmed_appointment| %>
	      <tr>
	        <td><%= pre_confirmed_appointment.pre_appointment.person_info.surname if pre_confirmed_appointment.pre_appointment  %> <%= truncate(pre_confirmed_appointment.pre_appointment.person_info.other_names, :length => 15) if pre_confirmed_appointment.pre_appointment %></td>
	        <td><%= pre_confirmed_appointment.pre_appointment.appointment_type.title if pre_confirmed_appointment.pre_appointment %></td>
            <td><%= pre_confirmed_appointment.date_time.strftime("%B %d, %Y %H:%M") if pre_confirmed_appointment.date_time %></td>
            <% if pre_confirmed_appointment.closed == true %>
               <td>Accepted</td>
            <% elsif pre_confirmed_appointment.closed == false %>
            	<td> Not Accepted</td>
            <%end%>
            <td style="width: 10%"><%= link_to 'Doctor/Nurse', find_doc_nurse_path(:pre_appointment_id => pre_confirmed_appointment.pre_appointment_id), remote: true, class: "w3-button w3-khaki w3-card w3-hover-khaki w3-small w3-round w3-round-xxlarge" %></td>
	        
	        <!--<td style="width: 5px"><%#= link_to "Details", pre_confirmed_appointment_details_path(:appt_id=> pre_confirmed_appointment.id), remote: true, class: "w3-button w3-indigo w3-hover-indigo w3-card w3-small w3-round w3-round-xxlarge" %></td>-->
	        
	         <!-- <% if pre_confirmed_appointment.pre_appointment %>
		        <% if pre_confirmed_appointment.pre_appointment.appointment_type_id == 'PD'%>
		        	<td style="width: 5px"><button class = "w3-button w3-white w3-card w3-hover-white w3-small w3-round w3-round-xxlarge">PDS</button></td>		        
		        <% else %>       
		            <td style="width: 5px"><%= link_to 'Edit', edit_pre_confirmed_appointment_path(pre_confirmed_appointment), remote: true, class: "w3-button w3-gray w3-card w3-hover-gray w3-small w3-round w3-round-xxlarge" %></td>
		        
		        <% end %>
	        <%end%>  -->
	        
	        <td style="width: 5px">
	           <% if  pre_confirmed_appointment.active_status == false %>
	           	 <%= link_to 'Enable', enable_pre_confirmed_appointment_path(:chosen => pre_confirmed_appointment.id), remote: true, data: { confirm: 'You are about to enable the selected appointment, do you want to continue?' },  class: "w3-button w3-blue w3-hover-blue w3-small w3-round-xxlarge w3-card" %>
                 
            <% elsif  pre_confirmed_appointment.active_status == true %>
	                <%= link_to 'Disable', disable_pre_confirmed_appointment_path(:chosen => pre_confirmed_appointment.id), remote: true, data: { confirm: 'You are about to disable the selected appointment, do you want to continue?' },  class: "w3-button w3-red w3-hover-red w3-small w3-round w3-round-xxlarge w3-card" %> 
	      
            <% end %>     	
	       </td>
	      </tr> 
	    <% end %>
	  </tbody>
	</table>
</div>
<div> 
 <!-- <%#= link_to '+', new_pre_confirmed_appointment_path, :remote=> true, class: "w3-button w3-circle w3-teal w3-hover-teal w3-left w3-card-4" %> -->
 <%= will_paginate @pre_confirmed_appointments,  renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: "w3-right pagination-sm w3-card-4", :params => { :controller => "pre_confirmed_appointments", :action => "index", count: params[:count], page: params[:page] }  %>
<br />
</div>
<br>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notes').remove();
  }, 4000);
 });
</script>
<script>
  $(function(){
    $('.pagination a').attr('data-remote', 'true');
  });

</script>
