<div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink  hidden" onclick="openCity(event,'Type');">Appoinment Type</button>
    <button class="w3-bar-item w3-button tablink w3-teal w3-card" onclick="openCity(event,'Pre_appointment');">New Appointments</button>
    <button class="w3-bar-item w3-button tablink w3-card" onclick="openCity(event,'Pre_Confirm');">Confirmed Unaccepted Appointments</button>
    <button class="w3-bar-item w3-button tablink w3-card" onclick="openCity(event,'Confirm');">Confirmed Accepted Appointments</button> 
    <button class="w3-bar-item w3-button tablink w3-card" onclick="openCity(event,'PDS');">Confirmed Accepted PDS</button>
     <button class="w3-bar-item w3-button tablink w3-card" onclick="openCity(event,'All_Bill');">All Billings</button>
 </div>


<div id="Type" class="w3-container w3-display-container city w3-border w3-card" style="display:none; margin-bottom: 5%">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-large w3-display-topright">&times;</span>
  <br /><br />
    <%= render :partial=> 'appointment_type_index' %>
</div>

<div id="Pre_appointment" class="w3-container w3-display-container city w3-border w3-card" style=" margin-bottom: 5%">
  <span onclick="this.parentElement.style.display='none' "
  class="w3-button w3-large w3-display-topright">&times;</span>
  <br /><br />
    <%= render :partial=> 'pre_appointment' %>
</div> 

<div id="Pre_Confirm" class="w3-container w3-display-container city w3-border w3-card" style="display:none; margin-bottom: 5%">
  <span onclick="this.parentElement.style.display='none' "
  class="w3-button w3-large w3-display-topright">&times;</span>
  <br /><br />
    <%= render :partial=> 'pre_confirmed_appointment' %>
</div>


<div id="Confirm" class="w3-container w3-display-container city w3-border w3-card" style="display:none; margin-bottom: 5%">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-large w3-display-topright">&times;</span>
  <br /><br />
  	 <%= render :partial=> 'confirmed_appointments' %>
</div>

<div id="PDS" class="w3-container w3-display-container city w3-border w3-card" style="display:none"; margin-bottom: 5%>
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-large w3-display-topright">&times;</span>
  <br /><br />
  	<%= render :partial=> 'confirmed_pds' %>
</div>

 <div id="All_Bill" class="w3-container w3-display-container city w3-border w3-card" style="display:none"; margin-bottom: 5%>
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-large w3-display-topright">&times;</span>
  <br /><br />
  	<%= render :partial=> 'patient_bills' %>
</div>
<br /><br />
<div class="clearfix"></div>

<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-teal", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-teal";
}
</script>



