<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @appointment_type.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @appointment_type.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment_type.user_id %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @appointment_type.entity_id %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @appointment_type.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @appointment_type.del_status %>
</p>

<%= link_to 'Edit', edit_appointment_type_path(@appointment_type) %> |
<%= link_to 'Back', appointment_types_path %>
