<p id="notice"><%= notice %></p>

<p>
  <strong>Service prov:</strong>
  <%= @service_prov_extra_info.service_prov_id %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @service_prov_extra_info.suburb_id %>
</p>

<p>
  <strong>Contact number1:</strong>
  <%= @service_prov_extra_info.contact_number1 %>
</p>

<p>
  <strong>Contact number2:</strong>
  <%= @service_prov_extra_info.contact_number2 %>
</p>

<p>
  <strong>Postal address:</strong>
  <%= @service_prov_extra_info.postal_address %>
</p>

<p>
  <strong>Location address:</strong>
  <%= @service_prov_extra_info.location_address %>
</p>

<p>
  <strong>Contact person name:</strong>
  <%= @service_prov_extra_info.contact_person_name %>
</p>

<p>
  <strong>Web url:</strong>
  <%= @service_prov_extra_info.web_url %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @service_prov_extra_info.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @service_prov_extra_info.latitude %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @service_prov_extra_info.comment %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @service_prov_extra_info.entity_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @service_prov_extra_info.user_id %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @service_prov_extra_info.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @service_prov_extra_info.del_status %>
</p>

<%= link_to 'Edit', edit_service_prov_extra_info_path(@service_prov_extra_info) %> |
<%= link_to 'Back', service_prov_extra_infos_path %>
