<% if flash[:notice] %>
  <p class="flash_notice " id = 'notes' style = "margin-top: 5px"><%= notice %></p>
<%end%>

<br />
<div class="row">
	<div class="col-md-3 col-xs-12"></div>
	<div class="col-md-6 col-xs-12 w3-card-4 w3-round-large">
		<!-- <br /> -->
		<h4>Provider Details</h4>
		<table class="table table-condensed table-bordered table-striped">
			 <tr><td class="w3-teal"><strong>Provider Type: </strong></td><td style="padding-left: 6%""><%= @person_type_master.user_type_title %></td></tr>
			 <tr><td class="w3-teal" ><strong>Remark: </strong></td><td style="padding-left: 6%""><%= @person_type_master.comment %></td></tr>
			 <tr><td class="w3-teal" ><strong>Added By: </strong></td><td style="padding-left: 6%""><%= @person_type_master.user_id %></td></tr>
			 
	
			 <% if @person_type_master.active_status == true %>  
	      		<tr><td class="w3-teal"><strong>Status: </strong></td><td style="padding-left: 6%"> Active </td></tr>
	      		
	      	 <%elsif @person_type_master.active_status == false %>
	      		<tr><td class="w3-teal"><strong>Status: </strong></td><td style="padding-left: 6%; color: red">Inactive</td></tr>
	         <%end%>	
		</table>
		

		<%= link_to 'Back', person_type_masters_path, class: "w3-left w3-button w3-small w3-round-large w3-blue w3-hover-blue" %>
	   <br /><br />
	</div>
	<div class="col-md-3 col-xs-12"></div> 
</div>
<br />

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notes').remove();
  }, 4000);
 })
</script>
