<p id="notice"><%= notice %></p>

<p>
  <strong>User type title:</strong>
  <%= @person_type_master.user_type_title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @person_type_master.comment %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @person_type_master.entity %>
</p>

<p>
  <strong>User:</strong>
  <%= @person_type_master.user_id %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @person_type_master.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @person_type_master.del_status %>
</p>

<%= link_to 'Edit', edit_person_type_master_path(@person_type_master) %> |
<%= link_to 'Back', person_type_masters_path %>
