<br />
<%= simple_form_for @person_info_extra, :url => confirm_person_registration_path(:person_id => @person_id, :user_id => @user_id, :reg_id => @reg_id), :remote => true do |f| %>
  <%= f.error_notification %>
  <%= tinymce_assets %>
  <div id="id01" class="w3-modal w3-card-4 w3-round-large" style="display: block;">
    <div class="w3-modal-content w3-animate-bottom w3-card-4 w3-light-gray" style="width: 50%; max-height: 80%; overflow-y: auto;">
      <div style="max-width: 70%; text-align: center; margin-left: 15%; margin-top: 15px">
        <% if flash[:notice] %>
          <p class="flash_notice " id = 'notes' style = ""><%= notice %></p>
        <% end %>
      </div>
      <div class="w3-container" >
        <div class="row">
          <div class="col-md-6 w3-white">
            <header class="w3-container">
              <h4>Professional Information Details</h4>
            </header>
            <table class="table table-condensed table-bordered table-striped w3-card">
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Full Name </strong></td>
                <td style="padding-left: 6%"><%= @person_info.surname %> <%= @person_info.other_names %>  </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Person Type </strong></td>
                <td style="padding-left: 6%"><%= @person_info.person_type_master.user_type_title %> </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Contact </strong></td>
                <td style="padding-left: 6%"><%= @person_info.person_contact_infos[0].contact_number %> </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Specialty </strong></td>
                <td style="padding-left: 6%"><%= @reg.specialty_master.title if @reg.specialty_master %> </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Specialty Duration</strong></td>
                <td style="padding-left: 6%"><%= @reg.specialty_duration %> </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Medical Regulator</strong></td>
                <td style="padding-left: 6%"><%= @reg.profesional_group.group_name if @reg.profesional_group %> </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Licence Number</strong></td>
                <td style="padding-left: 6%"><%= @reg.licence_number %> </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Is a Specialist?</strong></td>
                <td style="padding-left: 6%">
                  <% if @reg.has_specialty == true %>
                    Yes
                  <%elsif @reg.has_specialty == false %>
                    No
                  <%end%>
                </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Foreign Training</strong></td>
                <td style="padding-left: 6%">
                  <% if @reg.foreign_training == true %>
                    Yes
                  <%elsif @reg.foreign_training == false %>
                    No
                  <%end%>
                  <!-- <%#= @reg.foreign_training %> -->
                </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Foreign Medical Board</strong></td>
                <td style="padding-left: 6%"><%= @reg.foreign_institution %> </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Foreign Licence Number</strong></td>
                <td style="padding-left: 6%"><%= @reg.foreign_licence_number %> </td>
              </tr>
              <tr>
                <td class="w3-teal" style="width: 35%"><strong>Place of Work</strong></td>
                <td style="padding-left: 6%"><%= @reg.hospital_name %> </td>
              </tr>
            </table>
            <!-- 
           	 		 <%= @person_info.inspect %>
		              <br /><br /> 
					 <%= @reg.inspect %>
					 <br /><br />
					 <%= @user.inspect %> -->
          </div>
          <div class="col-md-6 ">
            <header class="w3-container">
              <h4>Add Professional Information</h4>
            </header>
            <!-- <div class="form-inputs"> -->
            <%= f.input :person_id, as: :hidden, input_html: {value: @person_id} %>
            <%= f.input :specialty_id, collection:  @the_list,  label_method: :first, value_method: :last, input_html:{class:"combobox form-control", data: { placeholder: "Type to select a specialty from the dropdown" } } %>
            <%= f.input :specialty_duration, as: :integer, :placeholder => "Please add Years to the duration" %>
            <%= f.input :profession_group_id, label: "Medical Regulator", collection:  @group,  label_method: :first, value_method: :last, input_html:{class:"combobox form-control", data: { placeholder: "Type to select a professional group from the dropdown" } } %>
            <%= f.input :licence_number, :placeholder => "Enter the medical licence number" %>
            <%= f.input :hospital_name, label: "Place of Work", :placeholder => "Enter the medical licence number" %>
            <!-- <%= f.input :comment, label: "Remark", :class => "tinymce", :rows=> 7 %> -->
            <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
            <%= f.input :entity_id, as: :hidden %>
            <%= f.input :active_status, as: :hidden, input_html: {value: 1} %>
            <%= f.input :del_status, as: :hidden, input_html: {value: 0} %>
            <%= f.input :has_specialty, :label => "Are you a specialist?", input_html: { :id => "has_specialty", :text_align=> "center"} %>
            <div id="foreign" class="hidden">
              <%= f.input :forign_training, label: "Foreign Training", input_html: { :id => "forign_training", :text_align=> "center"} %>
              <%= f.input :foreign_institution_desc, label: "Foreign Medical Board", :placeholder => "Enter foreign medical board" %>
              <%= f.input :foreign_licence_number, label: "Foreign Licence Number", :placeholder => "Enter the foreign medical licence number", input_html: {:id => "foreign_licence", :required=> true} %>
            </div>
            <%= f.label :comment, "Remark"%>
            <%= f.text_area :comment, :class => "tinymce", :rows=> 7 %>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <br>
      <footer class="w3-container">
        <%= f.button :submit, class: "w3-button w3-teal w3-hover-teal w3-right w3-card-4 w3-small w3-round-xlarge", value: "Submit",data: {"disable-with": "Please wait......"} %>
        <%= link_to 'Back', registrations_path, :remote=> true, class: "w3-button w3-black w3-hover-black w3-left w3-card-4 w3-small w3-round-xlarge" ,data: {"disable-with": "Please wait......"}%>
        <br />
      </footer>
    <% end %>
    <br />
  </div>
  <br />
</div>
<%= tinymce %>
<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#notes').remove();
    }, 3000);
    });
</script>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker4').datetimepicker({
    	 format: "YYYY-MM-DD HH:mm"
    });
  
   });
</script>
<script type="text/javascript">
  $(document).ready(function(){
       $('form').attr('autocomplete', 'off');
  
       $('.combobox').combobox();
  
     $('span.input-group-addon').addClass("hidden");
  
  });
</script>
<style>
  .input-group{
  	width: 100%;
  }
    .typeahead{
      width: 100%;
    }
</style>
<script type="text/javascript">
  $(document).ready(function() {
  	document.getElementById("foreign_licence").disabled = true;
  	document.getElementById("foreign_licence").required = false;
  	console.log('Initial load');
  	$("#has_specialty").change(function(){
  		if ($("#has_specialty").is(":checked")) {
  	  	console.log('This is the if');
  	  	$("#foreign").removeClass("hidden");
  	  	    document.getElementById("forign_training").checked = true;
  	  		document.getElementById("foreign_licence").disabled = false;
  	  		document.getElementById("foreign_licence").required = true;
  		 	 }
  		 	  else{
  		 	  	console.log('This is the else');
  		 	  	 $("#foreign").addClass("hidden");
  		 	  	 document.getElementById("forign_training").checked = false;
  		 	  	 document.getElementById("foreign_licence").disabled = true;
  		 	  	 document.getElementById("foreign_licence").required = false;
  		 	  	}
  	});
  
  });
</script>
