<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @person_info_extra.person_id %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @person_info_extra.specialty_id %>
</p>

<p>
  <strong>Specialty duration:</strong>
  <%= @person_info_extra.specialty_duration %>
</p>

<p>
  <strong>Has specialty:</strong>
  <%= @person_info_extra.has_specialty %>
</p>

<p>
  <strong>Forign training:</strong>
  <%= @person_info_extra.forign_training %>
</p>

<p>
  <strong>Foreign institution desc:</strong>
  <%= @person_info_extra.foreign_institution_desc %>
</p>

<p>
  <strong>Profession group:</strong>
  <%= @person_info_extra.profession_group_id %>
</p>

<p>
  <strong>Licence number:</strong>
  <%= @person_info_extra.licence_number %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @person_info_extra.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @person_info_extra.user_id %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @person_info_extra.entity_id %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @person_info_extra.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @person_info_extra.del_status %>
</p>

<%= link_to 'Edit', edit_person_info_extra_path(@person_info_extra) %> |
<%= link_to 'Back', person_info_extras_path %>
