<p id="notice"><%= notice %></p>

<h1>Listing Pre Confirmed Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Appointment</th>
      <th>Doctor</th>
      <th>Nurse</th>
      <th>User</th>
      <th>Active status</th>
      <th>Del status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_confirmed_appointments.each do |pre_confirmed_appointment| %>
      <tr>
        <td><%= pre_confirmed_appointment.appointment_id %></td>
        <td><%= pre_confirmed_appointment.doctor_id %></td>
        <td><%= pre_confirmed_appointment.nurse_id %></td>
        <td><%= pre_confirmed_appointment.user_id %></td>
        <td><%= pre_confirmed_appointment.active_status %></td>
        <td><%= pre_confirmed_appointment.del_status %></td>
        <td><%= link_to 'Show', pre_confirmed_appointment %></td>
        <td><%= link_to 'Edit', edit_pre_confirmed_appointment_path(pre_confirmed_appointment) %></td>
        <td><%= link_to 'Destroy', pre_confirmed_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre confirmed appointment', new_pre_confirmed_appointment_path %>
