<%= simple_form_for(@user_service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :service_desc, label: "Service" %>
    <%= f.input :service_alias, label: "Service Alias" %>
    <%= f.input :comment, label: "Remark" %>
    <%= f.input :entity_id, as: :hidden %>
    <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id}  %>
    <%= f.input :active_status, as: :hidden, input_html: {value: 1} %>
    <%= f.input :del_status, as: :hidden, input_html: {value: 0} %>
  </div>

  <div class="form-actions">
    <%= link_to 'Back', user_services_path, class: "w3-left w3-button w3-small w3-round-large w3-blue w3-hover-blue" %>
    <%= f.button :submit, class: "w3-right w3-button w3-small w3-round-large w3-teal w3-hover-teal", value: "Add" %>
    <br />
  </div>
<% end %>
<br />
