<%= simple_form_for(@lab_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :pre_appointment_id %>
    <%= f.input :lab_service_id %>
    <%= f.input :comment %>
    <%= f.input :user_id %>
    <%= f.input :active_status %>
    <%= f.input :del_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
