<%= simple_form_for(@user, url: update_credential_path, remote: true)  do |f| %>
  <%= f.error_notification %>   
 
<div id="id01" class="w3-modal w3-card-4" style="display: block">
    <div class="w3-modal-content w3-animate-top w3-card-4 w3-light-gray w3-round-xlarge" style="width: 35%; max-height: 80%; overflow-y: auto; margin-top: -2%;">
      <header class="w3-container"> 
        <h4>Edit Profile</h4> 
      </header>
      <div class="col-md-12 col-xs-12 w3-padding">
      	<div class="w3-container "> 	
		  <div class="form-inputs">
		     <!-- <%#= f.input :role_id, label: "User role", collection: Role.all, label_method: "name", value_method: :id %> -->
			 <%= f.input :username, required: true, autofocus: true %>
			 <!-- <%= f.input :email, autofocus: true %> -->
			 <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    		 <%= f.input :password_confirmation %>
			 <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
			 <!-- <%= f.input :active_status, as: :hidden, input_html: {vlaue: 1} %> -->
			 <!-- <%= f.input :del_status, as: :hidden, input_html: {vlaue: 0} %> -->
				
			 <p><b>Upload a profile picture</b></p>
			 <%= f.input :profile, as: :file %>
		  </div>		 
		 <br />
 
        </div> 
        
      </div>  
      <!-- <div class="col-md-1 col-xs-12"></div> -->
      <br />
      <footer class="w3-container">     
          <div class="form-actions">
          	<% if current_user.role.name == 'Super Admin' or current_user.role.name == 'Customer Service'%>
	        <!-- <%= link_to 'Home', admin_root_path, class: "w3-button w3-black w3-hover-black w3-left w3-card-4 w3-small w3-round-xlarge" %>		 <%= link_to 'Edit', edit_person_info_path(current_user), class: "w3-button w3-black w3-hover-black w3-right w3-card-4 w3-small w3-round-xlarge" %> -->
	        <% elsif current_user.role.name == 'Doctor' %>
				<%= link_to 'Home', doctor_root_path, class: "w3-button w3-black w3-hover-black w3-left w3-card-4 w3-small w3-round-xlarge" %>
			<% elsif current_user.role.name == 'Nurse' %>
				<%= link_to 'Home', nurse_root_path, class: "w3-button w3-black w3-hover-black w3-left w3-card-4 w3-small w3-round-xlarge" %>
		    <% elsif current_user.role.name == 'Patient' %>
				<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-black w3-hover-black w3-left w3-card-4 w3-small w3-round-xlarge">Close</span>
			<%end%>
		  	<!-- <%#= link_to 'Back', profile_path, remote: true, class: "w3-left w3-button w3-small w3-round-large w3-black w3-hover-black" %> -->
		    <%= f.button :submit, class: "w3-right w3-button w3-small w3-round-large w3-green w3-hover-green", value: "Update" %>
		  <br /><br />
		  </div>
      </footer>
      <% end %>
      <br />
    </div>
    <br />
</div>
 <script>
  $( function() {
    $( "#datepicker" ).datepicker({
    	dateFormat : 'yy-mm-dd'
    });
  } );
 </script>
