<%= simple_form_for(@registration, url: process_user_prof_info_path(:reg_id => @reg_id), method: :post, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= tinymce_assets %>
  <script type="text/javascript">
    $(document).ready(function(){
    	tinymce.init({
    		  selector: '.tinymce',  // change this value according to your HTML
    		  branding: false,
    		  resize: false,
    		  theme: 'modern',
    		  statusbar: false
    		});
    })
  </script>
  <div id="id01" class="w3-modal w3-round-large" style="display: block; margin-top: ">
    <div class="w3-modal-content w3-animate-top w3-white" style="width: 33%; max-height: 80%; margin-top: ; overflow-y: auto; background: transparent">
      <div style="max-width: 70%; text-align: center; margin-left: 15%; margin-top: 15px">
        <% if flash[:notice] %>
          <p class="flash_notice " id = 'notes' style = ""><%= notice %></p>
        <% end %>
      </div>
      <header class="w3-container">
        <h4>Please provide your Professional Informations</h4>
      </header>
      <div class="w3-container" >
        <div class="form-inputs">
          <%= f.input :specialty_id, collection:  @the_list,  label_method: :first, value_method: :last, input_html:{class:"combobox form-control", data: { placeholder: "Type to select a specialty from the dropdown" } } %>
          <%= f.input :specialty_duration, :placeholder => "Please add Months/Years to the duration" %>
          <%= f.input :professional_group_id, label: "Medical Regulator", collection:  @group,  label_method: :first, value_method: :last, input_html:{class:"combobox form-control", data: { placeholder: "Type to select a professional group from the dropdown" } } %>
          <%= f.input :licence_number, :placeholder => "Enter the medical licence number" %>
          <%= f.input :hospital_name, label: "Place of Work", :placeholder => "Enter your place of work (hospital/clinic)" %>
          <% if @user_type == 'D' %>
            <%= f.input :has_specialty, :label => "Are you a specialist?", input_html: { :id => "has_specialty", :text_align=> "center"} %>
            <div id="foreign" class="hidden">
              <%= f.input :foreign_training, label: "Foreign Training", input_html: { :id => "forign_training", :text_align=> "center"} %>
              <%= f.input :foreign_institution, label: "Foreign Medical Board", :placeholder => "Enter foreign medical board" %>
              <%= f.input :foreign_licence_number, label: "Foreign Licence Number", :placeholder => "Enter the foreign medical licence number", input_html: {:id => "foreign_licence", :required=> true} %>
            </div>
          <%end%>
        </div>
      </div>
      <br>
      <footer class="w3-container" >
        <%= f.button :submit, class: "w3-button w3-right w3-card-4 w3-small w3-round-xlarge w3-green w3-hover-green", value: "Submit", style: " background: rgb(146, 211, 110); hover:none" ,data: {"disable-with": "Please wait......"}%>
        <button onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-left w3-card-4 w3-small w3-round-xlarge w3-black w3-hover-black ">Cancel</button>
        <br />
      </footer>
    <% end %>
    <br />
  </div>
  <br />
</div>
<%= tinymce %>
<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#notes').remove();
    }, 3000);
    });
</script>
<style>
  .input-group{
  	width: 100%;
  }
    .typeahead{
      width: 100%;
    }
  
    .nohover:hover{
    	cursor:default !important;
    }
</style>
<script type="text/javascript">
  $(document).ready(function(){
       $('form').attr('autocomplete', 'off');
  
       $('.combobox').combobox();
  
     $('span.input-group-addon').addClass("hidden");
  
  });
</script>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker4').datetimepicker({
  
    	 format: "YYYY-MM-DD"
  
    	 // minDate: new Date()
    });
  
     // $("#datetimepicker4").on("dp.change", function (e) {
       // $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
     // });
     // $("#datetimepicker4").on("dp.change", function (e) {
     // $('#datetimepicker4').data("DateTimePicker").maxDate(e.date);
    // });
  
   });
</script>
<script type="text/javascript">
  $(document).ready(function() {
  	document.getElementById("foreign_licence").disabled = true;
  	document.getElementById("foreign_licence").required = false;
  	console.log('Initial load');
  	$("#has_specialty").change(function(){
  		if ($("#has_specialty").is(":checked")) {
  	  	console.log('This is the if');
  	  	$("#foreign").removeClass("hidden");
  	  	    document.getElementById("forign_training").checked = true;
  	  		document.getElementById("foreign_licence").disabled = false;
  	  		document.getElementById("foreign_licence").required = true;
  		 	 }
  		 	  else{
  		 	  	console.log('This is the else');
  		 	  	 $("#foreign").addClass("hidden");
  		 	  	 document.getElementById("forign_training").checked = false;
  		 	  	 document.getElementById("foreign_licence").disabled = true;
  		 	  	 document.getElementById("foreign_licence").required = false;
  		 	  	}
  	});
  
  });
</script>
