<div></div>
<div id="id01" class="w3-modal w3-card-4" style="display: block">
    <div class="w3-modal-content w3-animate-top w3-card-4 w3-light-gray" style="width: 40%">
    <% if flash[:notice] %>
		   <p class="flash_notice " id = 'notes' style = "margin-top: 5px"><%= notice %></p>
	   <% end %>
      <header class="w3-container"> 
        <h4>Confirmed PDS Details</h4> 
      </header>
      <br />
      <!-- <div class="col-md-1 col-xs-12"></div> -->
      <div class="col-md-12 col-xs-12 w3-padding">
      	<div class="w3-container "> 	
			 <table class="table table-condensed table-bordered table-striped">
			 	 <tr><td class="w3-teal" style="width: 40%"><strong>Doctor </strong></td><td style="padding-left: 6%"><%= @confirmed_personal_doctor_service.doctor.surname %> <%= @confirmed_personal_doctor_service.doctor.other_names %></td></tr>
			 	 <tr><td class="w3-teal" style="width: 40%"><strong>Patient </strong></td><td style="padding-left: 6%"><%= @confirmed_personal_doctor_service.patient.surname %> <%= @confirmed_personal_doctor_service.patient.other_names %></td></tr>				 
                 <tr><td class="w3-teal" ><strong>Location </strong></td><td style="padding-left: 6%"><%= @confirmed_personal_doctor_service.suburb_master.suburb_name  if @confirmed_personal_doctor_service.suburb_master %></td></tr>
                 <tr><td class="w3-teal" ><strong>Remark </strong></td><td style="padding-left: 6%"><%= raw @confirmed_personal_doctor_service.comment %></td></tr>
                 
                 
                 <% if @confirmed_personal_doctor_service.pre_appointment.src == 'PTL' %>
				    <tr><td class="w3-teal"><strong>Source </strong></td><td style="padding-left: 6%"> Portal </td></tr>
			     <% elsif @confirmed_personal_doctor_service.pre_appointment.src == 'APP' %>
					 <tr><td class="w3-teal"><strong>Source </strong></td><td style="padding-left: 6%"> Mobile App</td></tr>   
			     <% elsif @confirmed_personal_doctor_service.pre_appointment.src == 'USSD' %>
					 <tr><td class="w3-teal"><strong>Source </strong></td><td style="padding-left: 6%"> USSD</td></tr>	 
			     <% elsif @confirmed_personal_doctor_service.pre_appointment.src == 'WEB' %>
					 <tr><td class="w3-teal"><strong>Source </strong></td><td style="padding-left: 6%"> Web Access</td></tr>    
			     <% end %>
		    
				 
				 <% if @confirmed_personal_doctor_service.active_status == true %>  
	      		    <tr><td class="w3-teal"><strong>Status </strong></td><td style="padding-left: 6%"> Active </td></tr>   		
		      	 <%elsif @confirmed_personal_doctor_service.active_status == false %>
		      		<tr><td class="w3-teal"><strong>Status </strong></td><td style="padding-left: 6%; color: red">Inactive</td></tr>
		         <% end %>
            				                  
                        
			</table>
       </div> 
      </div>  
      <!-- <div class="col-md-1 col-xs-12"></div> -->
      <br />
      <footer class="w3-container">     
        <%= link_to 'Back', pre_appointments_path, :remote=> true, class: "w3-button w3-black w3-hover-black w3-right w3-card-4 w3-small w3-round-xlarge" %>
      <br />
      </footer>
      <br />
    </div>
    <br />
</div>




<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notes').remove();
  }, 4000);
 });
</script> 


