<br />
<%= simple_form_for(@confirmed_personal_doctor_service, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= tinymce_assets %>
  
  <script type="text/javascript">
  	$(document).ready(function(){
  		tinymce.init({
		  selector: '.tinymce',  // change this value according to your HTML
		  branding: false,
		  resize: false,
		  theme: 'modern',
		  statusbar: false
		});
  	})
  </script>
  
  <div id="id01" class="w3-modal w3-card-4 w3-round-large" style="display: block;">
     <div class="w3-modal-content w3-animate-bottom w3-card-4 w3-light-gray" style="width: 50%; max-height: 80%; overflow-y: auto; min-height: 55% ">
        <div class="row">
        	<div class="col-md-6" style="margin-top: 20px">       		
        		<header class="w3-container"> 
		          <h4>Pre Appointment Details </h4> 
		        </header>
		        <div class="w3-container" > 
		        	<table class="table table-bordered table-striped" style="height: 80%  !important; ">
		        		<tr><td class="w3-teal" style="width: 45%"><strong>Location </strong></td><td style="padding-left: 6%"><%= @selected_pre_appointment.suburb_master.suburb_name if @selected_pre_appointment.suburb_master %></td></tr>
		        		
		        		<tr><td class="w3-teal" ><strong>Previous Med History </strong></td><td style="padding-left: 6%"><%= raw @selected_pre_appointment.prev_medical_history %></td></tr>
		        		<tr><td class="w3-teal" ><strong>PersonaL Doctor  </strong></td><td style="padding-left: 6%"><%= @selected_pre_appointment.pd_name %></td></tr>
		        		
		        		<tr><td class="w3-teal" ><strong>Appointment Type </strong></td><td style="padding-left: 6%"><%= raw @selected_pre_appointment.appointment_type.title if @selected_pre_appointment.appointment_type %></td></tr>
		        	</table>
		        </div> 
		        <!-- <footer class="w3-container w3-right">
		           Back
		        </footer>  -->
        	</div>
        	
        	<div class="col-md-6">
		       <div style="max-width: 70%; text-align: center; margin-left: 15%; margin-top: 15px">
		      
			      <% if flash[:notice] %>
		             <p class="flash_notice " id = 'notes' style = ""><%= notice %></p>
				  <% end %>
				  	
		    	</div>	
		    	
		      <header class="w3-container"> 
		        <h4> Confirm Appointment </h4> 
		      </header>  
		              
		           <div class="w3-container" > 						      	
		              
		               <div class="form-inputs">
		                  <%= f.input :doctor_id, collection:  @the_list,  label_method: :first, value_method: :last, input_html:{class:"combobox form-control", data: { placeholder: "Type select a personnel from the dropdown" } } %>
						  <%= f.input :patient_id, as: :hidden, input_html: {value: @requester_id} %>
						  <%= f.input :pre_appointment_id, as: :hidden, input_html: {value: @pre_appointment_id} %>
						  <%= f.input :suburb_id, as: :hidden, input_html: {value: @suburb_id } %>
						  <%= f.input :appointment_type_id, as: :hidden,  input_html: {value:   @appointment_type_id } %>
						  <%= f.input :comment %>
						  <%= f.input :entity_id, as: :hidden %>
						  <%= f.input :user_id, as: :hidden %>
						  <%= f.input :active_status, as: :hidden, input_html: {value: 1} %>
						  <%= f.input :del_status, as: :hidden, input_html: {value: 0} %>
		               </div>
		        

		           </div>
		        <br>
		      <footer class="w3-container">
		       	<%= f.button :submit, class: "w3-button w3-teal w3-hover-teal w3-left w3-card-4 w3-small w3-round-xlarge", value: "Confirm" %>
		        <%= link_to 'Back', pre_appointments_path, :remote=> true, class: "w3-button w3-black w3-hover-black w3-right w3-card-4 w3-small w3-round-xlarge" %>
		        <br />
		      </footer>
		      <% end %>
		      <br />
		     
		    </div>   
		    <br />
	   </div>
   </div>
</div>
<%= tinymce %>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notes').remove();
  }, 3000);
  });
</script>

<script type="text/javascript">
 $(function () {
   $('#datetimepicker4').datetimepicker({
   	 format: "YYYY-MM-DD HH:mm",
   	 minDate: new Date()
   });
    
  });
</script>

<style>
	.input-group{
		width: 100%;
	}
  .typeahead{
    width: 100%;
  }
  
</style>

<script type="text/javascript">
    $(document).ready(function(){
         $('form').attr('autocomplete', 'off');
        
         $('.combobox').combobox();

   $('span.input-group-addon').addClass("hidden");
  
    });
</script>













<!-- 
<%= simple_form_for(@confirmed_personal_doctor_service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :doctor_id %>
    <%= f.input :patient_id %>
    <%= f.input :comment %>
    <%= f.input :entity_id %>
    <%= f.input :user_id %>
    <%= f.input :active_status %>
    <%= f.input :del_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %> -->
