<%= simple_form_for(@permission_role) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :person_type_master_id %>
    <%= f.input :permission_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
