<br />
<div class="container" style="min-width: 75%">

	  <% if flash[:notice] %>
		 <p class="flash_notice " id = 'notes' style = "margin-top: 5px"><%= notice %></p>
	 <% end %>
<div class="col-md-3 col-sm-12 col-xs-12">
	<div class="w3-card" id = "disp-cont">
		<span class="count_top" ><i class="fa fa-user" style="margin-top: 10px"></i> Total Reg</span>
		<h4 style="color: #009688"> <%= @total_reg_app %> </h4>
	</div>
	<br />
	<div class="w3-card" id = "disp-cont">
		<span ><i class="fa fa-user" style="margin-top: 10px"></i> Pending Reg(s)</span>
		<% if @pending_reg == 0 %>
		  <h4> <%= @pending_reg %> </h4>
		<% else %>
		<h4 style="color: red"><%= @pending_reg %></h4>
		<%end%>
		
	</div>
	<br />
	<div class="w3-card" id = "disp-cont" style="">
		<span class="count_top" ><i class="fa fa-user" style="margin-top: 10px"></i> Customers </span>
		<h4 style="color: #009688"> <%= @total_cust %> </h4>
	</div>
	<!-- <br />
	<div class="w3-card" id = "disp-cont" style="">
		<span class="count_top" ><i class="fa fa-user" style="margin-top: 10px"></i> Pending Registrations</span>
		<h4> <%= @pending_reg %> </h4>
	</div> -->
</div> 

<div class="col-md-3 col-sm-12 col-xs-12">
	<div class="w3-card" id = "disp-cont">
		<span class="count_top" ><i class="fa fa-user" style="margin-top: 10px"></i> Pending <%=  truncate('Appointments', :length => 10)%></span>
		<h4 style="color: red"> <%= @pending_app %> </h4>
	</div>
	<br />
	<div class="w3-card" id = "disp-cont">
		<span class="count_top" ><i class="fa fa-user" style="margin-top: 10px"></i> Confirmed <%=  truncate('Appointments', :length => 8)%></span>
		<h4 style="color: #009688"> <%= @confimed_app %> </h4>
	</div>
	<br />
	<div class="w3-card" id = "disp-cont" style="">
		<span class="count_top" ><i class="fa fa-user" style="margin-top: 10px"></i> Registered <%=  truncate('Providers', :length => 12)%></span>
		<h4 style="color: #009688"> <%= @total_prov %> </h4>
	</div>
	<!-- <br />
	<div class="w3-card" id = "disp-cont" style="">
		<span class="count_top" ><i class="fa fa-user" style="margin-top: 10px"></i> Pending Registrations</span>
		<h4> <%= @pending_reg %> </h4>
	</div> -->
</div>

<div class="col-md-6 col-sm-12 col-xs-12" >
    <div id="calendar" class="w3-card"></div>
</div>

<!-- event modal -->
<div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add a Reminder</h4>
            </div>
            <div class="modal-body">
                <form name="save-event" method="post">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Event start</label>
                        <input type="text" name="evtStart" class="form-control col-xs-3" />
                    </div>
                    <div class="form-group">
                        <label>Event end</label>
                        <input type="text" name="evtEnd" class="form-control col-xs-3" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

</div>
<div class="clearfix w3-clear"></div>

<script type="text/javascript">
	var calendar = $(this);
	$('#calendar').fullCalendar({
    header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
    },
    locale: 'es',
    firstDay: 1,
    defaultView: 'month',
    selectable: true,
    selectHelper: true,
    editable: true,
    eventLimit: true,

    events: {
        url: '/events/new', // set correct url 
    },
    select: function( start, end, jsEvent, view ) {
        // set values in inputs
        $('#event-modal').find('input[name=evtStart]').val(
            start.format('YYYY-MM-DD HH:mm:ss')
        );
        $('#event-modal').find('input[name=evtEnd]').val(
            end.format('YYYY-MM-DD HH:mm:ss')
        );
        
        // show modal dialog
        $('#event-modal').modal('show');
        
        /*
        bind event submit. Will perform a ajax call in order to save the event to the database.
        When save is successful, close modal dialog and refresh fullcalendar.
        */
        /*
        $("#event-modal").find('form').on('submit', function() {
            $.ajax({
                url: 'events/save',
                data: $("#event-modal").serialize(),
                type: 'post',
                dataType: 'json',
                success: function(response) {
                    // if saved, close modal
                    $("#event-modal").modal('hide');
                    
                    // refetch event source, so event will be showen in calendar
                    $("#calendar").fullCalendar( 'refetchEvents' );
                }
            });
        });*/
    },
    selectHelper: true,
    selectable: true,
     snapDuration: '00:10:00'
});
	
	
</script>

<style>
	#disp-cont{
		min-height: 90px;
		max-height: 90px;
		border: 5px black;;
		display: block;
		text-align: center;
		font-weight: bold;
		/*background: #fdf5e6!important;*/
		background: #f1f1f1;
	}
	
	/*.pre-scrollable {
    min-height: 100px;
    overflow-y: none;
}*/
	
</style>

