<div></div>
<div id="id01" class="w3-modal w3-card-4" style="display: block">
    <div class="w3-modal-content w3-animate-top w3-card-4 w3-white" style="width: 40%; max-height: 80%; overflow-y: auto;">
       <% if flash[:notice] %>
		   <p class="alert alert-info" id = 'notes' style = "margin-top: 5px"><%= notice %></p>
	   <% end %> 
      <header class="w3-container"> 
        <h4><%= @confirmed_appt.patient.surname %> <%= @confirmed_appt.patient.other_names %></h4> 
      </header>
      <br />
      <!-- <div class="col-md-1 col-xs-12"></div> -->
      <div class="col-md-12 col-xs-12 w3-padding">
      	<div class="w3-container "> 
      	
      	  <h5><b style="color: blue"><u>Details of Medical Record</u></b></h5>
      	  <div class="w3-clear"></div>
      	    <table class="table table-condensed table-striped w3-card">
		  <tr><td class="w3-teal" style="width: 40%"><strong>Clinical Complaints </strong></td><td style="padding-left: 6%"><%= raw @patient_med_record.clinical_complaints %></td></tr>	
	  	  <tr><td class="w3-teal" style="width: 40%"><strong>Clinical Examinations </strong></td><td style="padding-left: 6%"><%= raw @patient_med_record.clinical_examinations %></td></tr>	
	  	  <tr><td class="w3-teal" style="width: 40%"><strong>Working Diagnosis </strong></td><td style="padding-left: 6%"><%= raw @patient_med_record.working_diagnosis %></td></tr>	
	  	  <tr><td class="w3-teal" style="width: 40%"><strong>Investigations Required </strong></td><td style="padding-left: 6%"><%= raw @patient_med_record.investigation_rquired  %></td></tr>	
	  	  <tr><td class="w3-teal" style="width: 40%"><strong>Treatments </strong></td><td style="padding-left: 6%"><%= raw @patient_med_record.treatments %></td></tr>	
	  	  <tr><td class="w3-teal" style="width: 40%"><strong>Follow Up Plans </strong></td><td style="padding-left: 6%"><%= raw @patient_med_record.follow_up_plan %></td></tr>	
	  	  <tr><td class="w3-green" ><strong>Medicine </strong></td><td style="padding-left: 6%"><%= raw @patient_med_record.medicine %></td></tr>        
          </table> 
			
       </div> 
      </div>          

	 <footer class="w3-container"> 
		 <%= link_to 'Back', find_patient_details_path(:chosen => @patient_med_record.patient_id, :doc => @patient_med_record.doctor_id), class: "w3-button w3-black w3-hover-black  w3-card-4 w3-small w3-round-xlarge w3-right" %>
	 </footer>

      <br />
    </div>
    <br />
</div>


<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notes').remove();
  }, 4000);
 });
</script> 

<script>
  $(function(){
    // $('.pagination a').attr('data-remote', 'true');
  });

</script>


