<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmed appt:</strong>
  <%= @patient_med_record.confirmed_appt_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @patient_med_record.patient_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @patient_med_record.doctor_id %>
</p>

<p>
  <strong>Clinical complaints:</strong>
  <%= @patient_med_record.clinical_complaints %>
</p>

<p>
  <strong>Clinical examinations:</strong>
  <%= @patient_med_record.clinical_examinations %>
</p>

<p>
  <strong>Working diagnosis:</strong>
  <%= @patient_med_record.working_diagnosis %>
</p>

<p>
  <strong>Investigation rquired:</strong>
  <%= @patient_med_record.investigation_rquired %>
</p>

<p>
  <strong>Treatments:</strong>
  <%= @patient_med_record.treatments %>
</p>

<p>
  <strong>Follow up plan:</strong>
  <%= @patient_med_record.follow_up_plan %>
</p>

<%= link_to 'Edit', edit_patient_med_record_path(@patient_med_record) %> |
<%= link_to 'Back', patient_med_records_path %>
