<% if flash[:notice] %>
  <p class="flash_notice " id = 'notes' style = "margin-top: 5px"><%= notice %></p>
<% end %>
<h4>Confirmed Appointments</h4>
<br />
<div class="pull-right" style = 'margin-top: -3%; display: inline-block'>
  <label class="">Display <u>No</u>: </label>
  <%= select_tag :per_page, options_for_select([5,10, 20, 30, 40,50, 70,100], params[:per_page].to_i), :data => { :remote => true,
	:url => url_for( :controller => "confirmed_appointments", :action => "index" )
	}, class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", remote: true %>
</div>
<div class="pull-left" style = 'margin-top: -3%;'>
  <label class="w3-middle" >Fileter by: </label><br/>
  <ul class="list-inline">
    <li>
      <%= select_tag :provider_name, options_from_collection_for_select(ProviderMaster.all, "provider_name", "provider_name",  @provider_name), :data => {:remote => true,
		:url => url_for(:controller => "confirmed_appointments", :action => "index")}, remote: true,  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", :prompt => "Service Provider", style: "max-width: 100%; width: 100%; min-width: 100%"%>
    </li>
    <li>
      <%= select_tag :category, options_from_collection_for_select(RequestCategory.all, "category", "category",  @category), :data => {:remote => true,
	    :url => url_for(:controller => "confirmed_appointments", :action => "index")}, remote: true,  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", :prompt => "Request Category", style: "max-width: 100%; width: 100%; min-width: 100%" %>
    </li>
    <li>
      <%= select_tag :title, options_from_collection_for_select(AppointmentType.all, "title", "title",  @type), :data => {:remote => true,
	    :url => url_for(:controller => "confirmed_appointments", :action => "index")}, remote: true,  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", :prompt => "Appointment Type", style: "max-width: 100%; width: 100%; min-width: 100%" %>
    </li>
    <br>
    <br>
    <div class="w3-clear"></div>
    <li>
      <%= select_tag :user_type_title, options_from_collection_for_select(PersonTypeMaster.where('ref_id =?' , 'C'), "user_type_title", "user_type_title", @person_type), :data => {:remote => true,
      :url => url_for(:controller => "confirmed_appointments", :action => "index")}, remote: true,  class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4", :prompt => "Search Patient", style: "max-width: 100%; width: 100%; min-width: 100%" %>
    </li>
  </ul>
</div>
<br />
<br />
<div class="w3-clear"></div>
<p style = 'text-align: center; font-family: tahoma; font-size: 15px;'>
  <b>Download:</b>  <%= link_to "CSV", confirmed_appointments_path(format: "csv"), :class => "w3-hover-white"%>
  | <%= link_to "Excel", confirmed_appointments_path(format: "xls"), :class => "w3-hover-white" %>
  | <%= link_to "CSV-all", all_confirmed_appointment_excel_path(format: "csv"), :class => "w3-hover-white", method: :get%>
  | <%= link_to "Excel-all", all_confirmed_appointment_excel_path(format: "xls"),:class => "w3-hover-white", method: :get%>
</p>
<%= form_tag confirmed_appointments_path, :method => 'get', class: "form-inline w3-margin", html: { autocomplete: "off" }, remote: true, :id => "entity_search" do %>
  <% if @person_type == 'Patient' %>
    <%= text_field_tag :patient, params[:patient], class: "form-control w3-bordered ", :placeholder=> "Filter by Patient Name", autocomplete: "off", id: "patient"  %>
  <% elsif @person_type == 'Doctor' %>
    <%= text_field_tag :doctor, params[:doctor], class: "form-control w3-bordered ", :placeholder=> "Filter by Doctor Name", autocomplete: "off", id: "patient"  %>
  <% elsif @person_type == 'Nurse' %>
    <%= text_field_tag :nurse, params[:nurse], class: "form-control w3-bordered ", :placeholder=> "Filter by Nurse Name", autocomplete: "off", id: "patient"  %>
  <% elsif @person_type == 'Pharmacist' %>
    <%= text_field_tag :pharmacist, params[:pharmacist], class: "form-control w3-bordered ", :placeholder=> "Filter by Pharmacist Name", autocomplete: "off", id: "patient"  %>
  <% elsif @person_type == 'Laboratorist' %>
    <%= text_field_tag :laboratorist, params[:laboratorist], class: "form-control w3-bordered ", :placeholder=> "Filter by Laboratorist Name", autocomplete: "off", id: "patient"  %>
  <% end %>
  <% if @person_type.present? %>
    <%= submit_tag "Search", :name => nil,  class: "w3-btn w3-round w3-blue w3-tiny", id: "submitBtn" %>
    <br>
    <span>NB: <i style="color: red;"> Please type Surname first</i></span>
  <% end %>
<% end %>
<% if @person_type.nil? %>
  <%= link_to confirmed_appointments_path, remote: true do %>
    <span class="fa fa-refresh fa-2x"></span>
  <% end %>
<% end %>
<div class = "table-responsive">
  <table class="table table-condensed table-bordered table-striped w3-card-4">
    <thead>
      <tr class="w3-teal">
        <th>Requester</th>
        <th>Provider</th>
        <th>Appt Type</th>
        <th>Category</th>
        <th>Date/Time</th>
        <th>Billing</th>
        <th>Details</th>
        <th colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @confirmed_appointments.each do |confirmed_appointment| %>
        <tr>
          <td><%= truncate(confirmed_appointment.pre_appointment.person_info.surname, :length => 15) if confirmed_appointment.pre_appointment  %> <%= truncate(confirmed_appointment.pre_appointment.person_info.other_names, :length => 15) if confirmed_appointment.pre_appointment %></td>
          <% if confirmed_appointment.provider_master.present?%>
            <td><%= truncate(confirmed_appointment.provider_master.provider_name, :length => 10) if confirmed_appointment.provider_master %></td>
          <% else %>
            <td style="color: red;">Not applicable</td>
          <% end %>
          <td><%= truncate(confirmed_appointment.pre_appointment.appointment_type.title, :length => 10) if confirmed_appointment.pre_appointment %></td>
          <td><%= confirmed_appointment.pre_appointment.request_category.category  if confirmed_appointment.pre_appointment.request_category %></td>
          <td style="width: 15%;"><%= confirmed_appointment.confirmed_date.strftime("%F %R") if confirmed_appointment.confirmed_date  %></td>
          <td style="width: 10px;"><%= link_to 'Bill Info', bill_info_path(appointment_id: confirmed_appointment.id, from: "confirmed_appt"), remote: true, class: "w3-card-4 btn w3-khaki w3-hover-khaki w3-tiny w3-round-large" %></td>
          <td style="width: 5px"><%= link_to "Details", confirmed_appointment, remote: true, class: "w3-button w3-indigo w3-hover-indigo w3-card w3-small w3-round w3-round-xxlarge" %></td>
          <% if confirmed_appointment.pre_appointment %>
            <% if confirmed_appointment.pre_appointment.appointment_type_id == 'PD'%>
              <td style="width: 5px"><button class = "w3-button w3-white w3-card w3-hover-white w3-small w3-round w3-round-xxlarge">PDS</button></td>
            <% else %>
              <td style="width: 5px"><%= link_to 'Edit', edit_confirmed_appointment_path(confirmed_appointment), remote: true, class: "w3-button w3-gray w3-card w3-hover-gray w3-small w3-round w3-round-xxlarge",data: {"disable-with": "Please wait......"} %></td>
            <% end %>
          <%end%>
          <td style="width: 5px">
            <% if  confirmed_appointment.active_status == false %>
              <%= link_to 'Enable', enable_appointment_path(:chosen => confirmed_appointment.id), remote: true, data: { confirm: 'You are about to enable the selected appointment, do you want to continue?' },  class: "w3-button w3-blue w3-hover-blue w3-small w3-round-xxlarge w3-card",data: {"disable-with": "Please wait......"} %>
            <% elsif  confirmed_appointment.active_status == true %>
              <%= link_to 'Disable', disable_appointment_path(:chosen => confirmed_appointment.id), remote: true, data: { confirm: 'You are about to disable the selected appointment, do you want to continue?' },  class: "w3-button w3-red w3-hover-red w3-small w3-round w3-round-xxlarge w3-card" ,data: {"disable-with": "Please wait......"}%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= will_paginate @confirmed_appointments,  renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: "w3-right pagination-sm w3-card-4", :params => { :controller => "confirmed_appointments", :action => "index", count: params[:count], page: params[:page] }  %>
  <br />
</div>
<br>
<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#notes').remove();
    }, 4000);
   });
</script>
<script>
  $(function(){
    $('.pagination a').attr('data-remote', 'true');
  });
</script>
