<p id="notice"><%= notice %></p>

<p>
  <strong>Trans status:</strong>
  <%= @callback_status.trans_status %>
</p>

<p>
  <strong>Trans:</strong>
  <%= @callback_status.trans_id %>
</p>

<p>
  <strong>Exttrid:</strong>
  <%= @callback_status.exttrid %>
</p>

<p>
  <strong>Trans msg:</strong>
  <%= @callback_status.trans_msg %>
</p>

<%= link_to 'Edit', edit_callback_status_path(@callback_status) %> |
<%= link_to 'Back', callback_statuses_path %>
