<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
  <h4>Measure Units</h4>
  <div id="new"></div>
  <div class="pull-right" style = 'margin-top: -3%; '>
    <label class="">Display <u>No</u>: </label>
    <!-- <%#= select_tag :count, options_for_select([5,10,15,20,25,30], params[:count].to_i), :onchange => "if(this.value){ window.location='?count='+this.value ;}" %> -->
    <%= select_tag :per_page, options_for_select([5,10, 20, 30, 40,50, 70,100], params[:per_page].to_i), :data => { :remote => true,
                            :url => url_for( :controller => "drug_masters", :action => "index" )
                            }, :onchange => "if(this.value){window.location='?per_page='+this.value;}", class: "w3-bordered w3-round-xlarge w3-btn w3-small w3-card-4" %>
  </div>

  <div class="pull-left" style = 'margin-top: -3%;'>
    <!--<label class="">Filter by: </label>-->
    <%= form_tag measure_units_path, :method => 'get', class: "form-inline", html: { autocomplete: "off" }, :id => "drug_search" do %>
        <%= text_field_tag :unit_desc, params[:unit_desc], class: "form-control w3-bordered ", :placeholder=> "Filter by Drug  Name", autocomplete: "off"  %>
        <%= submit_tag "Search", :name => nil,  class: "w3-btn w3-round w3-blue w3-tiny", id: "submitBtn" %>
    <% end %>
  </div>

  <br />
  <p style = 'text-align: center; font-family: tahoma; font-size: 15px;'>
    <b>Download:</b>  <%= link_to "CSV", measure_units_path(format: "csv"), :class => "w3-hover-white"%>
    | <%= link_to "Excel", measure_units_path(format: "xls"), :class => "w3-hover-white" %>
    | <%= link_to "CSV-all", all_unit_excel_path(format: "csv"), :class => "w3-hover-white", method: :get%>
    | <%= link_to "Excel-all", all_unit_excel_path(format: "xls"),:class => "w3-hover-white", method: :get%>
  </p>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped w3-card">
      <thead>
      <tr class="w3-teal">
        <th>Unit Description</th>
        <th>Unit Alias</th>
        <th>Comment</th>
        <th>Status</th>
        <th colspan="2">Options</th>
      </tr>
      </thead>
      <tbody>
      <% @measure_units.each do |measure_unit| %>
          <tr>
            <td><%= measure_unit.unit_desc %></td>
            <td><%= measure_unit.unit_alias %></td>
            <td><%= measure_unit.comment %></td>

            <% if measure_unit.active_status%>
                <td >Active</td>
            <% else %>
                <td style="color: red">Inactive</td>
            <% end %>

            <td style="width: 15px"><%= link_to 'Edit', edit_measure_unit_path(measure_unit), remote: true,  class: "w3-button w3-gray w3-card w3-hover-gray w3-small w3-round w3-round-xxlarge" %></td>

            <td style="width: 15px">
              <% if measure_unit.active_status == false %>
                  <%= link_to 'Enable', enable_unit_path(:chosen => measure_unit.id), data: { confirm: 'You are about to enable the selected unit, do you want to continue?' },  class: "w3-button w3-blue w3-hover-blue w3-small w3-round-xxlarge w3-card" %>

              <% elsif measure_unit.active_status == true %>
                  <%= link_to 'Disable', disable_unit_path(:chosen => measure_unit.id), data: { confirm: 'You are about to disable the selected unit, do you want to continue?' },  class: "w3-button w3-red w3-hover-red w3-small w3-round w3-round-xxlarge w3-card" %>

              <% end %>
            </td>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <%= link_to '+', new_measure_unit_path, remote: true, class: "w3-button w3-circle w3-teal w3-hover-teal w3-left w3-card-4" %>
    <%= will_paginate @measure_units,  renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: "w3-right pagination-sm w3-card-4" %>
    <br />
  </div>
</div>
<br>
