<%= link_to nurse_root_path, class: "w3-bar-item w3-border-top w3-button w3-border-bottom w3-card-4 w3-hover-white", style: "color: white" do %>
  <i class="fa fa-tachometer " aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Dashboard</b></span> 
<% end %>

<%= link_to doctor_awaiting_appointments_path, class: "w3-bar-item w3-border-top w3-button w3-border-bottom w3-card-4 w3-hover-white", style: "color: white" do %>
 		 <i class="fa fa-thermometer-empty " aria-hidden="true"></i> <span style="margin-left: 5px;"><b>New Appointments</b></span> 
<% end %>
	
<%= link_to nurse_appointments_path, class: "w3-bar-item w3-border-top w3-button w3-border-bottom w3-card-4 w3-hover-white", style: "color: white" do %>
  <i class="fa fa-clock-o " aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Accepted Appointments</b></span> 
<% end %>


<%= link_to my_referal_path, class: "w3-bar-item w3-border-top w3-button w3-border-bottom w3-card-4 w3-hover-white", style: "color: white" do %>
  <i class="fa fa-wheelchair " aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Refer a Patient to Ghinger</b></span> 
<% end %>
 

<%= link_to nurse_root_path, class: "w3-bar-item w3-border-top w3-button w3-border-bottom w3-card-4 w3-hover-white", style: "color: white" do %>
  <i class="fa fa-money " aria-hidden="true"></i> <span style="margin-left: 5px;"><b>Bills and Invoice Information</b></span> 
<% end %>